<h1>Donations#new</h1>
<p>Find me in app/views/donations/new.html.erb</p>

<h3>Plain HTML</h3>
<form action="/donations" method='post'>
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
  Amount: <input type="number" name="donation[amount]">
  Date: <input type="number" name="donation[date]">
  User: <input type="number" name="donation[user_id]">
  Organization: <input type="number" name="donation[organization_id]">
  <input type="submit" value="Donate!">
</form>

<h3>Form Tag</h3>
<%= form_tag(donations_path) do %>
  <%= label_tag(:amount)%>
  <%= number_field_tag(:amount)%>

    <%= label_tag(:date)%>
  <%= datetime_field_tag(:date)%>


  <%= label_tag(:user_id)%>
  <%= number_field_tag(:user_id)%>


  <%= label_tag(:organization_id)%>
  <%= number_field_tag(:organization_id)%>

  <%= submit_tag('Donate!') %>
<% end %>

<h3>Form For</h3>
<%= form_for(@donation) do |f| %>

<%= f.label :amount %>
<%= f.number_field :amount %>

<%= f.label :date %>
<%= f.datetime_field :date %>

<%= f.label :user_id %>
<%= f.number_field :user_id %>

<%= f.label :organization_id %>
<%= f.number_field :organization_id %>

<%= f.submit "Donate!"%>

<% end %>

<h3>Form With</h3>
<%= form_with mode: @donation do |f| %>

<%= f.label :amount %>
<%= f.number_field :amount %>

<%= f.label :date %>
<%= f.datetime_field :date %>

<%= f.label :user_id %>
<%= f.number_field :user_id %>

<%= f.label :organization_id %>
<%= f.number_field :organization_id %>

<%= f.submit "Donate!"%>

<% end %>